h1{
    font-family:'Lucida Sans';
    color: green;
    text-decoration: underline;
    }

#navbar{
    background-color: lightgreen;
    font-family: 'Lucida Sans';
    color: green;
    border-width: 10px;
    padding: 10px;
    display: flex;
}

.navspace{
    padding-left: 10px;
}

*{
    box-sizing: border-box;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.column {
    width: 70%
}

img{
    width:50%;
    display: flex;   
}

#flex-container {
    display: flex;
    justify-content:center
}

img:hover{
    scale: 1.025;
}

p{
    font-family: 'Lucida Sans';
}

h2{
    font-family: 'Lucida Sans';
    color: green;
    background-color: lightgreen;
}

body{
    background-color: yellowgreen;
}





